<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>Controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <display-name>fake</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>Controller.Manager.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DAO</display-name>
    <servlet-name>DAO</servlet-name>
    <servlet-class>dao.DAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAO</servlet-name>
    <url-pattern>/DAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEntity</display-name>
    <servlet-name>ProductEntity</servlet-name>
    <servlet-class>entities.ProductEntity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEntity</servlet-name>
    <url-pattern>/ProductEntity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HibernateUtility</display-name>
    <servlet-name>HibernateUtility</servlet-name>
    <servlet-class>util.HibernateUtility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HibernateUtility</servlet-name>
    <url-pattern>/HibernateUtility</url-pattern>
  </servlet-mapping>
</web-app>